
@{
    ViewBag.Title = "AdminContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Contact</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5>Address</h5>
            <div>
                <span>Opp Sitholi Railway Station,</span>
            </div>
            <div>
                <span>Gwalior Madhya Pradesh</span>
            </div>
            <div>
                <span>474001</span>
            </div>


        </div>
        <br />
        <div class="card card-body">
            <h5>Details</h5>
            <div>
                <i class="fas fa-envelope"></i>
                <span><i>lmsitm@lms.co.in</i></span>
            </div>
            <div>
                <i class="fas fa-phone-square"></i>
                <span><i>+91 9898786756</i></span>
            </div>
            <div>
                <i class="fab fa-twitter-square"></i>
                <span><i>@@lms_itm</i></span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:317px; object-fit: cover;" src="https://images.pexels.com/photos/1333742/pexels-photo-1333742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />



